div{
   background-color: darkgreen;
   width: 50%;
   padding: 5%;
   text-align: center;
   border-radius: 8px;
   color: white;
   border-color:  black;
   border-spacing: 5dvh;
   padding: 10px;
   margin: 0 auto;
   margin-top: 30vh;
}
p  {
    font-size: larger;
    padding: 15px;
}
button{
    font-size: small;
    background-color:black;
    color: white;
    border-radius: 10px;
}
input{
    border-radius: 50px;
}